
    /*******detail*******/

.tableadd {
    width: 100%;
     margin: 30px auto 0px auto;
     font-family: "Microsoft YaHei";
}
    .tableadd tr {
        height: 55px;
        line-height: 55px;
    }
    .validatebox {
        width: 250px;
        height: 40px;
        line-height: 40px;
    }

    .selectbox {
        width: 250px;
        height: 40px;
        line-height: 40px;
    }
.dt-left {
    width:165px;
}
 .tableadd td {
        color: #333;
        font-size: 14px;
        padding: 0px 5px;
    }
    .btn {
        padding-top:30px;
    }
    .btn a {
        cursor: pointer;
        margin: 0px 10px;
    }

    .btn-cancel {
        display: inline-block;
        width: 102px;
        height: 42px;
        background: url(/Content/Images/其他/cancel_button_default.png) no-repeat center;
    }

        .btn-cancel:hover {
            background: url(/Content/Images/其他/cancel_button_pressed.png) no-repeat center;
        }

    .btn-sub {
        display: inline-block;
        width: 100px;
        height: 40px;
        background: url(/Content/Images/其他/OK_button_default.png) no-repeat center;
    }

        .btn-sub:hover {
            background: url(/Content/Images/其他/OK_button_pressed.png) no-repeat center;
        }

